@import "_null_style.scss";

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.wrapper {
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(90deg, rgba(119, 194, 209, 0.9), rgba(247, 161, 213, 0.9));

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 17px 15px 0 15px;
  }

  &__logo {
    img {
      width: 60px;
      cursor: pointer;
    }
  }

  &__nav {
  }

  &__menu {
    display: flex;
  }

  &__list {
    display: flex;
    margin: 0 80px 0 0;
  }

  &__link {
    margin: 0 20px 0 0;
    font-size: 18px;
    color: white;
    text-shadow: 0 0 1px white;
    font-family: "Balsamiq Sans", cursive;
    transition: 0.2s;
  }
  &__link:hover {
    text-shadow: 0 0px 1px #3ae3f1;
  }
  &__burger-btn {
    display: none;
  }

  &__login {
    position: relative;
    position: absolute;
    top: 41.1px;
    margin: 0 0 0 400px;
  }

  &__login-btn {
    a {
      text-align: center;
      padding: 10px 11px;
      border-radius: 32px;
      color: #ffffff;
      text-shadow: 0px 0px 3px #000000;
      box-shadow: white 0 0 5px;
      cursor: pointer;
      background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
      transition: .2s;
    }
    a:hover {
      box-shadow: black 0 0 10px;
    }
  }

  &__login-btn--tap.active {
    box-shadow: black 0 0 10px;
    background: linear-gradient(90deg, #cfecd0be, #a0cea7a2, #9ec0dba8);
  }

  &__form {
    transform: scale(0,);
    transition: .2s;
    position: absolute;
    top: 100px;
    right: 0;
    background-image: linear-gradient(
      to bottom left,
      rgba(234, 150, 255, 0.97),
      rgba(220, 151, 248, 0.97),
      rgba(206, 151, 241, 0.97),
      rgba(192, 152, 233, 0.98),
      rgba(178, 153, 226, 0.98),
      rgba(164, 153, 219, 0.98),
      rgba(151, 154, 212, 0.98),
      rgba(137, 154, 205, 0.98),
      rgba(123, 155, 198, 0.98),
      rgba(109, 156, 190, 0.99),
      rgba(95, 156, 183, 0.99),
      rgba(81, 157, 176, 0.99)
    );
    width: 350px;
    height: 450px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5), 0 0 20px black;
  }

  &__form.active {
    transform: scale(1);
  }
}

.content {
  margin: 100px 0 0 0;
  padding: 100px 0 0 0;
  &__text {
    margin: 0 20px;
    font-size: 18px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .header__burger {
    a {
      transition: 0.2s;
    }
    a:hover {
      box-shadow: black 0 0 10px;
    }
  }
  .header__login {
    position: relative;
    position: absolute;
    top: 43.1px;
    right: 80px;
    z-index: 3;
  }
  .header__burger-btn {
    display: block;
    position: relative;
    position: absolute;
    right: 20px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
    cursor: pointer;
    box-shadow: white 0 0 5px;
    border-radius: 5px;
    span {
      background-image: linear-gradient(
        to top left,
        rgb(255, 255, 255),
        rgb(255, 249, 252),
        rgb(255, 242, 250),
        rgb(255, 236, 247),
        rgb(255, 229, 245),
        rgb(255, 223, 242),
        rgb(255, 216, 240),
        rgb(255, 210, 237),
        rgb(255, 203, 235),
        rgb(255, 197, 232),
        rgb(255, 190, 230),
        rgb(255, 184, 227)
      );
      width: 30px;
      height: 5px;
      position: absolute;
      top: 17.5px;
      right: 5px;
      border-radius: 50px;
      transition: 0.2s;
    }
  }
  .header__burger-btn:before,
  .header__burger-btn:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(
      to top left,
      rgb(255, 255, 255),
      rgb(255, 249, 252),
      rgb(255, 242, 250),
      rgb(255, 236, 247),
      rgb(255, 229, 245),
      rgb(255, 223, 242),
      rgb(255, 216, 240),
      rgb(255, 210, 237),
      rgb(255, 203, 235),
      rgb(255, 197, 232),
      rgb(255, 190, 230),
      rgb(255, 184, 227)
    );
    transition: 0.2s;
    width: 30px;
    height: 5px;
    border-radius: 50px;
  }
  .header__burger-btn:after {
    top: 29px;
    right: 5px;
  }
  .header__burger-btn:before {
    bottom: 29px;
    right: 5px;
  }

  .header__list {
    display: block;
    margin: 50px 0 0 50px;
    li {
      margin: 30px 0 0 0;
      a {
        font-size: 33px;
        color: rgb(255, 255, 255);
      }
      a:hover {
        text-shadow: 0 0 10px #f594d8;
      }
    }
  }

  .header__menu {
    background: rgba(0, 0, 0, 0.83);
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 100px;
    right: -100%;
  }
  body.lock {
    overflow: hidden;
  }

  .header__burger-btn.active {
    box-shadow: black 0 0 10px;
  }

  .header__burger-btn.active:before {
    bottom: 17px;
    transform: rotate(45deg);
  }
  .header__burger-btn.active:after {
    top: 18px;
    transform: rotate(-45deg);
  }
  .header__burger-btn.active {
    span {
      transform: scale(0);
    }
  }
  .header__menu.active {
    right: 0;
  }
}
